/* ========================

font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343

===========================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*=====NAV AND HEADER=======*/

header {
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
  text-transform: uppercase;
  background-color: white;
}

nav {
  width: 100%;
  max-height: 55px;
}

.nav-items {
  min-height: 55px;
  padding: 0 355px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.nav-items li {
  margin-right: 15px;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  color: #2B2F26;
}

.nav-items a:hover {
  color: #CD5D67;
}

.nat-items a:active {
  color: #968772;
}

#logo {
  float: left;
  margin-top: 7px;
  margin-left: 8px;
  max-width: 40px;
}


/* Come back to this

#logo:hover {
  content: url(img/bent-creek-logo-coral.png);
  margin-top: 7px;
  margin-left: 8px;
  max-width: 40px
}

*/


/*======== BODY ========*/

body {
  background-color: #F2F1E8;
}

h1 {
  margin: 0 auto;
  margin-top: 35px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 65px;
  color: #131511;
}

h3 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 33px;
  margin-top: 5px;
  margin-bottom: 35px;
  color: #131511;
}

main {
  padding: 15px;
}

.row-1 {
  display: flex;
  min-height: 300px;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 15px;
}

#last-col-1 {
  margin-right: 0;
  background-image: url(img/product-3.jpg);
  background-size: cover;
}

.col-6 {
  background-color: red;
  flex-basis: 700px;
  margin-right: 15px;
}

.col-2 {
  background-color: blue;
  flex-grow: 1;
  margin-right: 15px;
}

.row-2 {
  display: flex;
  min-height: 210px;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 15px;
}

.col-4 {
  background-color: red;
  flex-basis: 451px;
  margin-right: 15px;
}

#last-col-2 {
  margin-right: 0;
  background-image: url(img/product-7.jpg);
  background-size: cover;
}

.row-1>div {
  padding-top: 255px;
}

.row-2>div {
  padding-top: 165px;
}

div>span {
  color: #F2F1E8;
  background-color: #2f3928;
  text-align: left;
  position: bottom;
  padding: 10px;
}


/*=========== imgs for bgs ===========*/

#endless {
  background-image: url(img/product-1.jpg);
  background-size: cover;
}

#sets {
  background-image: url(img/product-2.jpg);
  background-size: cover;
  background-position: 0 -30px;
}

#tea {
  background-image: url(img/product-4.jpg);
  background-size: cover;
}

#jars {
  background-image: url(img/product-5.jpg);
  background-size: cover;
}

#wasabi {
  background-image: url(img/product-6.jpg);
  background-size: cover;
}


/*============= ABOUT PAGE==============*/

.about {
  font-family: 'Merriweather', serif;
  padding: 0;
}

.about>section {
  padding: 0 240px;
  margin-top: 40px;
  font-size: 15px;
  line-height: 32px;
}

section>img {
  float: left;
  max-width: 100px;
  margin-right: 15px;
}

.about p {
  margin-bottom: 35px;
}

blockquote {
  padding-left: 25px;
  color: #79795b;
  border-left: 1px solid #79795b;
  font-style: italic;
  margin-bottom: 35px;
}

.about h3 {
  text-align: left;
  margin-top: 55px;
  margin-bottom: 20px;
}

.room {
  width: 100%;
  min-height: 300px;
  background-image: url(img/background-3.jpg);
  background-size: cover;
  background-position: 0 -110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  color: white;
}

.aside {
  float: right;
  width: 135px;
  font-size: 10px;
  color: #79795b;
  line-height: 20px;
  margin-left: 30px;
}

#shelf {
  width: 135px;
  l
}

table {
  border-collapse: collapse;
  margin-bottom: 50px;
}

.th {
  text-align: center;
  border: 1px solid #2f3928;
}

td {
  padding: 8px 15px;
  border: 1px solid #2f3928;
}

.color-row {
  background-color: #ede1d0;
}


/*========= FOOTER ==========*/

footer {
  padding-left: 35px;
  height: 80px;
  width: 100%;
  background-color: #2f3928;
  padding-top: 31px;
  color: #F2F1E8;
}


/* ========================

font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343

===========================*/
