/* ========================

font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343

===========================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*=====NAV AND HEADER=======*/

header {
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
  text-transform: uppercase;
  background-color: white;
}

nav {
  width: 100%;
  max-height: 55px;
}

.nav-items {
  min-height: 55px;
  padding: 0 355px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.nav-items li {
  margin-right: 15px;
  list-style: none;
}

#logo {
  float: left;
  margin-top: 5px;
  margin-left: 8px;
  max-width: 45px;
}


/*======== BODY ========*/

body {
  background-color: #F2F1E8;
}

h1 {
  margin: 0 auto;
  margin-top: 35px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 65px;
}

h3 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 33px;
  margin-top: 5px;
  margin-bottom: 35px;
}

main {}


/* ========================

font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343

===========================*/
